<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EXP07</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.web.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/servlet/helloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginChkServlet</servlet-name>
    <servlet-class>cn.niit.web.LoginChkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginChkServlet</servlet-name>
    <url-pattern>/loginChkAction</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>cn.niit.web.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/welcome.jsp</url-pattern>
  </filter-mapping>

  <!-- 设置session 永不超时 -->
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
</web-app>